* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

header {
  width: 100%;
  height: 100px;
  border-bottom: 0.5px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}
header .head {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
}
header .head .head_logo h1 {
  transition: all 0.3s ease;
  font-size: 50px;
  font-weight: 700;
}
header .head .head_elemnt {
  display: flex;
  gap: 50px;
  position: relative;
}
header .head .head_elemnt a {
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--black);
  font-size: 26px;
  position: relative;
}
header .head .head_elemnt a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.5s;
}
header .head .head_elemnt a:hover:after {
  transform: scaleX(1);
}
header .head .head_elemnt a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--black);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.5s;
}
header .head .head_elemnt a:hover::before {
  transform: scaleX(1);
}
header .head .head_content {
  display: flex;
  gap: 20px;
  height: 35px;
  align-items: center;
}
header .head .head_content .head_input {
  width: 245px;
  height: 100%;
  background-color: var(--light-grey);
  display: flex;
  align-items: center;
  position: relative;
}
header .head .head_content .head_input input {
  padding: 13px;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--light-grey);
  cursor: pointer;
}
header .head .head_content .head_input .bx {
  transition: all 0.3s ease;
  background-color: var(--light-grey);
  font-size: 30px;
  position: absolute;
  margin-left: 180px;
}
header .head .head_content .head_like {
  font-size: 30px;
  position: relative;
}
header .head .head_content .head_like .bx {
  transition: all 0.3s ease;
  cursor: pointer;
}
header .head .head_content .head_like span {
  position: absolute;
  background-color: var(--red);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: -5px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
header .head .head_content .head_like span p {
  font-size: 25px;
  color: var(--white);
}
header .head .head_content .head_shop_beag {
  font-size: 30px;
}
header .head .head_content .head_shop_beag .bx {
  transition: all 0.3s ease;
  cursor: pointer;
}
header .head .head_content .head_user {
  font-size: 30px;
}
header .head .head_content .head_user .bx {
  transition: all 0.3s ease;
  cursor: pointer;
}
header .head .nav_open_btn {
  padding: 20;
  padding-inline-end: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
header .head .nav_open_btn .line {
  width: 30px;
  height: 2px;
  background-color: var(--black);
  margin-block: 4px;
  transform-origin: left;
  animation: menuBtn 400ms ease-in-out alternate infinite;
  border-radius: 20%;
}
header .head .nav_open_btn .line_2 {
  animation-delay: 150ms;
}
header .head .nav_open_btn .line_3 {
  animation-delay: 300ms;
}
@keyframes menuBtn {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0.5);
  }
}

:root {
  --black: #000;
  --red: red;
  --gold-crayola: hsl(38, 61%, 73%);
  --light-red: #DB4444;
  --light-green: #00FF66;
  --light-grey: #F5F5F5;
  --white: white;
  --grey: grey;
}

main {
  margin-top: 70px;
}
main .head_text {
  top: 100px;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  margin: auto;
}
main .head_text h1 {
  font-size: 30px;
  color: var(--black);
  font-weight: 200;
}
main .head_text h1 span {
  color: var(--grey);
}
main .buy_container {
  width: 80%;
  height: auto;
  margin: 70px auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
}
main .buy_container .head_container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
}
main .buy_container .head_container .head_container_p {
  width: 24%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}
main .buy_container .head_container .head_container_p h1 {
  font-size: 30px;
  font-weight: 370;
}
main .buy_container .head_container .head_container_p_l {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .buy_container .container_main_poduct {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.05);
}
main .buy_container .container_main_poduct .abaut_product {
  width: 24%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
}
main .buy_container .container_main_poduct .abaut_product h1 {
  font-size: 20px;
  font-weight: 300;
}
main .buy_container .container_main_poduct .abaut_product img {
  width: 100px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  background-position: center;
}
main .buy_container .container_main_poduct .abaut_product .delet_product {
  cursor: pointer;
  position: absolute;
  font-size: 20px;
  color: var(--white);
  background-color: var(--light-red);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .buy_container .container_main_poduct .main_produc_con {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .buy_container .container_main_poduct .main_produc_con h1 {
  font-size: 20px;
  font-weight: 300;
}
main .buy_container .container_main_poduct .main_produc_con input {
  width: 100px;
  height: 50px;
  border-radius: 8px;
}
main .buy_container .container_main_poduct .abaut_product_2 {
  display: flex;
  gap: 25px;
}
main .element_btn {
  width: 80%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
main .element_btn .shopBlog_btn {
  width: 300px;
  height: 100%;
  background: none;
  border: none;
  border-radius: 10px;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .element_btn .shopBlog_btn h1 {
  font-size: 30px;
  font-weight: 300;
}
main .total_main {
  width: 80%;
  height: auto;
  display: flex;
  margin: 70px auto;
}
main .total_main .promoCode_container {
  width: 50%;
  height: 100%;
  display: flex;
  gap: 25px;
}
main .total_main .promoCode_container input {
  width: 400px;
  height: 70px;
  border-radius: 10px;
  border: none;
  border: 1px solid var(--black);
  font-size: 20px;
}
main .total_main .promoCode_container .cupon_btn {
  width: 200px;
  height: 70px;
  border-radius: 10px;
  background-color: var(--light-red);
  color: var(--light-grey);
  border: none;
  cursor: pointer;
}
main .total_main .promoCode_container .cupon_btn h1 {
  font-size: 20px;
}
main .total_main .allTotal_container {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: end;
  top: 0;
}
main .total_main .allTotal_container .in_total {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
main .total_main .allTotal_container .in_total .in_in_total {
  width: 90%;
  height: 80%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .total_main .allTotal_container .in_total .in_in_total .total_flex {
  display: flex;
  justify-content: space-between;
}
main .total_main .allTotal_container .in_total .in_in_total .bottom {
  border-bottom: 1px solid var(--black);
}
main .total_main .allTotal_container .in_total .in_in_total .chekout_btn {
  width: 90%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .total_main .allTotal_container .in_total .in_in_total .chekout_btn .prosees_btn {
  width: 300px;
  height: 70px;
  background-color: var(--light-red);
  font-size: 30px;
  color: var(--light-grey);
  border-radius: 10px;
  border: none;
}
main .total_main .allTotal_container .in_total .in_in_total .text_size h1 {
  font-size: 25px;
  font-weight: 300;
}
main .total_main .allTotal_container .in_total .in_in_total .text_size h2 {
  font-weight: 300;
}

@media (max-width: 1500px) {
  header .head .head_logo h1 {
    font-size: 40px;
  }
  header .head .head_elemnt {
    gap: 30px;
  }
  header .head .head_elemnt a {
    font-size: 20px;
  }
  header .head .head_content {
    gap: 20px;
  }
  header .head .head_content .head_input {
    width: 220px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    position: relative;
  }
  header .head .head_content .head_input .bx {
    font-size: 25px;
  }
  header .head .head_content .head_like {
    font-size: 25px;
  }
  header .head .head_content .head_like span {
    width: 15px;
    height: 15px;
  }
  header .head .head_content .head_like span p {
    font-size: 15px;
    color: white;
  }
  header .head .head_content .head_shop_beag {
    font-size: 25px;
  }
  header .head .head_content .head_user {
    font-size: 25px;
  }
}
@media (max-width: 1400px) {
  header .head .head_logo h1 {
    font-size: 40px;
  }
  header .head .head_elemnt {
    gap: 30px;
  }
  header .head .head_elemnt a {
    font-size: 20px;
  }
  header .head .head_content {
    gap: 20px;
  }
  header .head .head_content .head_input {
    width: 220px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    position: relative;
  }
  header .head .head_content .head_input .bx {
    font-size: 25px;
  }
  header .head .head_content .head_like {
    font-size: 25px;
  }
  header .head .head_content .head_like span {
    width: 15px;
    height: 15px;
  }
  header .head .head_content .head_like span p {
    font-size: 15px;
    color: white;
  }
  header .head .head_content .head_shop_beag {
    font-size: 25px;
  }
  header .head .head_content .head_user {
    font-size: 25px;
  }
}
@media (max-width: 1200px) {
  header .head .head_logo h1 {
    font-size: 30px;
  }
  header .head .head_elemnt {
    gap: 25px;
  }
  header .head .head_elemnt a {
    font-size: 18px;
  }
  header .head .head_elemnt a:after {
    height: 1px;
  }
  header .head .head_elemnt a::before {
    height: 1px;
  }
  header .head .head_content {
    gap: 15px;
  }
  header .head .head_content .head_input {
    width: 220px;
    height: 100%;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    position: relative;
  }
  header .head .head_content .head_input .bx {
    font-size: 25px;
  }
  header .head .head_content .head_like {
    font-size: 25px;
  }
  header .head .head_content .head_like span {
    width: 13px;
    height: 13px;
  }
  header .head .head_content .head_like span p {
    font-size: 13px;
    color: white;
  }
  header .head .head_content .head_shop_beag {
    font-size: 25px;
  }
  header .head .head_content .head_user {
    font-size: 25px;
  }
}
@media (max-width: 992px) {
  header .head .head_logo h1 {
    font-size: 30px;
  }
  header .head .head_elemnt {
    gap: 30px;
  }
  header .head .head_elemnt a {
    font-size: 16px;
  }
  header .head .head_content {
    gap: 18px;
  }
  header .head .head_content .head_input {
    display: none;
  }
  header .head .head_content .head_like {
    font-size: 18px;
  }
  header .head .head_content .head_like span {
    width: 12px;
    height: 12px;
  }
  header .head .head_content .head_like span p {
    font-size: 12px;
  }
  header .head .head_content .head_shop_beag {
    font-size: 18px;
  }
  header .head .head_content .head_user {
    font-size: 18px;
  }
  header .head .nav_open_btn {
    display: flex;
  }
  main {
    top: 0px;
  }
  main .element_btn .shopBlog_btn {
    width: 250px;
    height: 70%;
  }
  main .element_btn .shopBlog_btn h1 {
    font-size: 25px;
  }
  main .total_main {
    flex-direction: column;
    gap: 25px;
  }
  main .total_main .promoCode_container {
    width: 100%;
  }
  main .total_main .promoCode_container .cupon_btn h1 {
    font-size: 18px;
  }
  main .total_main .allTotal_container {
    width: 100%;
  }
  main .total_main .allTotal_container .in_total {
    width: 100%;
  }
  main .total_main .allTotal_container .in_total .in_in_total .chekout_btn .prosees_btn {
    font-size: 18px;
  }
  main .total_main .allTotal_container .in_total .in_in_total .text_size h1 {
    font-size: 23px;
    font-weight: 300;
  }
  main .total_main .allTotal_container .in_total .in_in_total .text_size h2 {
    font-size: 23px;
    font-weight: 300;
  }
}
@media (max-width: 768px) {
  header .head .head_logo h1 {
    font-size: 28px;
  }
  header .head .head_elemnt {
    gap: 23px;
  }
  header .head .head_elemnt a {
    font-size: 16px;
  }
  header .head .head_content {
    gap: 18px;
  }
  header .head .head_content .head_input {
    display: none;
  }
  header .head .head_content .head_like {
    display: none;
  }
  header .head .head_content .head_shop_beag {
    display: none;
  }
  header .head .head_content .head_user {
    display: none;
  }
  header .head .nav_open_btn {
    display: flex;
  }
  main {
    top: 0px;
  }
  main .element_btn .shopBlog_btn {
    width: 150px;
    height: 70%;
  }
  main .element_btn .shopBlog_btn h1 {
    font-size: 20px;
  }
  main .total_main {
    flex-direction: column;
    gap: 25px;
  }
  main .total_main .promoCode_container {
    width: 100%;
  }
  main .total_main .promoCode_container .cupon_btn h1 {
    font-size: 18px;
    font-weight: 300;
  }
  main .total_main .allTotal_container {
    width: 100%;
  }
  main .total_main .allTotal_container .in_total {
    width: 100%;
  }
  main .total_main .allTotal_container .in_total .in_in_total .chekout_btn .prosees_btn {
    font-size: 18px;
  }
  main .total_main .allTotal_container .in_total .in_in_total .text_size h1 {
    font-size: 23px;
    font-weight: 300;
  }
  main .total_main .allTotal_container .in_total .in_in_total .text_size h2 {
    font-size: 23px;
    font-weight: 300;
  }
}
@media (max-width: 576px) {
  header .head .head_logo h1 {
    font-size: 30px;
  }
  header .head .head_elemnt {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */